h1
	font: normal 5.4rem/1.0 'IBM Plex Sans', Helvetica, sans-serif
	font-weight: 700
	letter-spacing: .025em

h2
	font: normal 3.3rem/1.1 'IBM Plex Sans', Helvetica, sans-serif
	margin-bottom: 25px
	letter-spacing: .025em

h3
	font: normal 2rem/1.6 'IBM Plex Sans', Helvetica, sans-serif	
	letter-spacing: .01em

h4
	font: normal 2.2rem/1.1 'IBM Plex Sans', Helvetica, sans-serif

h5
	font: normal 1.7rem/1.6 'IBM Plex Mono', Helvetica, sans-serif	
	// float: left
	padding: 60px 40px
	margin: 0 30px 30px 0
	width: 300px
	transform-origin: center center
	// transform: rotate(-90deg)

p
	font: 500 10vw/1.0 'IBM Plex Sans', Times, serif	
	margin-bottom: 2.4rem

strong
	font: 700 1.8rem/1.6 'IBM Plex Sans', Helvetica, sans-serif
	letter-spacing: .05em		

em
	font: italic 1.9rem/1.6 'IBM Plex Sans', Times, serif		

a
	font: inherit

blockquote p
	font: normal 5rem/1.3 'IBM Plex Sans', Helvetica, sans-serif
	// text-align: center

cite p
	font: normal 2rem/1.3 'IBM Plex Sans', Helvetica, sans-serif
	text-transform: uppercase
	// text-align: center

ol,ul
	li
		padding-left: 40px
		font: normal 1.9rem/1.6 'IBM Plex Sans', Helvetica, sans-serif	
		letter-spacing: .01em
		list-style-position: inside

ol 
	li
		list-style-type: decimal

ul  
	li
		list-style-type: square

input
	font: normal 1.4rem/1.6 'IBM Plex Sans', Helvetica, sans-serif	
	letter-spacing: .01em