header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 9999
	background: $white

	// &.nav-up
	// 	background: transparent

	// &.nav-down
	// 	background: $white

.menu

	& .anchors__holder
		grid-column-start: 9
		grid-column-end: span line-13

		& .menu__item
			align-self: center
			
			& a
				font: 500 2vw/1.2 'IBM Plex Sans', Helvetica, serif

				&:hover, &:focus
					border-bottom: 2px solid black
					padding-bottom: 10px


footer
	background: $black
	color: $white
	padding: 20px 40px

	& p
		font: 500 1.2vw/1.2 'IBM Plex Mono', Helvetica, serif
		margin: 0
