header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 9999
	background: $white

.menu

	& .anchors__holder
		grid-column-start: 9
		grid-column-end: span line-13

		& .menu__item
			align-self: stretch
			
			& a
				font: 400 3vh/1.2 'IBM Plex Sans', Helvetica, serif


