/* Base and Import */
/* line 1, ../sass/_reset.sass */
html, body, div, span, applet, object, iframe,
h1,
.item-overview__wrapper .item-overview__item .item-overview__item__description h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../sass/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  position: relative;
}

/* line 28, ../sass/_reset.sass */
main {
  padding-top: 10vh;
}

/* line 35, ../sass/_reset.sass */
body {
  min-height: 100%;
}

/* line 38, ../sass/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 41, ../sass/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 44, ../sass/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 49, ../sass/_reset.sass */
a, a:focus, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* line 54, ../sass/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 58, ../sass/_reset.sass */
* {
  box-sizing: border-box;
}

/* line 61, ../sass/_reset.sass */
html {
  font-size: 62.5%;
  height: 100%;
  font-family: "R-Bold", Helvetica, sans-serif;
}

/* line 66, ../sass/_reset.sass */
*:focus {
  outline: none;
}

/* line 69, ../sass/_reset.sass */
.overflow__hidden {
  overflow: hidden;
}

/* line 72, ../sass/_reset.sass */
a.base-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 2001;
}

/* line 81, ../sass/_reset.sass */
::selection {
  color: blue;
  background: rgba(60, 60, 60, 0.5);
}

/* Generals */
/* line 1, ../sass/_images.sass */
figure {
  display: block;
}

/* line 4, ../sass/_images.sass */
img {
  width: 100%;
  display: block;
}

/* line 8, ../sass/_images.sass */
.object-fit--cover {
  object-fit: cover;
  height: 100%;
}

/* line 1, ../sass/_headings.sass */
h1, .item-overview__wrapper .item-overview__item .item-overview__item__description h1 {
  font: normal 5.4rem/1 "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.025em;
}

/* line 6, ../sass/_headings.sass */
h2 {
  font: normal 3.3rem/1.1 "IBM Plex Sans", Helvetica, sans-serif;
  margin-bottom: 25px;
  letter-spacing: 0.025em;
}

/* line 11, ../sass/_headings.sass */
h3 {
  font: normal 2rem/1.6 "IBM Plex Sans", Helvetica, sans-serif;
  letter-spacing: 0.01em;
}

/* line 15, ../sass/_headings.sass */
h4 {
  font: normal 2.2rem/1.1 "IBM Plex Sans", Helvetica, sans-serif;
}

/* line 18, ../sass/_headings.sass */
h5 {
  font: normal 1.7rem/1.6 "IBM Plex Mono", Helvetica, sans-serif;
  padding: 60px 40px;
  margin: 0 30px 30px 0;
  width: 300px;
  transform-origin: center center;
}

/* line 27, ../sass/_headings.sass */
p {
  font: 500 10vw/1 "IBM Plex Sans", Times, serif;
  margin-bottom: 2.4rem;
}

/* line 31, ../sass/_headings.sass */
strong {
  font: 700 1.8rem/1.6 "IBM Plex Sans", Helvetica, sans-serif;
  letter-spacing: 0.05em;
}

/* line 35, ../sass/_headings.sass */
em {
  font: italic 1.9rem/1.6 "IBM Plex Sans", Times, serif;
}

/* line 38, ../sass/_headings.sass */
a {
  font: inherit;
}

/* line 41, ../sass/_headings.sass */
blockquote p {
  font: normal 5rem/1.3 "IBM Plex Sans", Helvetica, sans-serif;
}

/* line 45, ../sass/_headings.sass */
cite p {
  font: normal 2rem/1.3 "IBM Plex Sans", Helvetica, sans-serif;
  text-transform: uppercase;
}

/* line 51, ../sass/_headings.sass */
ol li, ul li {
  padding-left: 40px;
  font: normal 1.9rem/1.6 "IBM Plex Sans", Helvetica, sans-serif;
  letter-spacing: 0.01em;
  list-style-position: inside;
}

/* line 58, ../sass/_headings.sass */
ol li {
  list-style-type: decimal;
}

/* line 62, ../sass/_headings.sass */
ul li {
  list-style-type: square;
}

/* line 65, ../sass/_headings.sass */
input {
  font: normal 1.4rem/1.6 "IBM Plex Sans", Helvetica, sans-serif;
  letter-spacing: 0.01em;
}

/* line 4, ../sass/_wrappers.sass */
.wrapper.white {
  background-color: white;
}

/* line 7, ../sass/_wrappers.sass */
.wrapper.black {
  background-color: #1e1e1e;
}

/* line 10, ../sass/_wrappers.sass */
.wrapper.light-grey {
  background-color: #f0f0f0;
}

/* line 13, ../sass/_wrappers.sass */
.wrapper.middle-grey {
  background-color: #787878;
}

/* line 16, ../sass/_wrappers.sass */
.padding-top--1x {
  padding-top: 5vh;
}

/* line 19, ../sass/_wrappers.sass */
.padding-top--2x {
  padding-top: 10vh;
}

/* line 22, ../sass/_wrappers.sass */
.padding-top--3x {
  padding-top: 15vh;
}

/* line 25, ../sass/_wrappers.sass */
.padding-bottom--1x {
  padding-bottom: 5vh;
}

/* line 28, ../sass/_wrappers.sass */
.padding-bottom--2x {
  padding-bottom: 10vh;
}

/* line 31, ../sass/_wrappers.sass */
.padding-bottom--3x {
  padding-bottom: 15vh;
}

/* line 34, ../sass/_wrappers.sass */
.padding-left--1x {
  padding-left: 40px;
}

/* line 37, ../sass/_wrappers.sass */
.padding-left--2x {
  padding-left: calc((100vw / 12)* 2);
}

/* line 40, ../sass/_wrappers.sass */
.padding-left--3x {
  padding-left: calc((100vw / 12)* 3);
}

/* line 43, ../sass/_wrappers.sass */
.padding-right--1x {
  padding-right: 40px;
}

/* line 46, ../sass/_wrappers.sass */
.padding-right--2x {
  padding-right: calc((100vw / 12)* 2);
}

/* line 49, ../sass/_wrappers.sass */
.padding-right--3x {
  padding-right: calc((100vw / 12)* 3);
}

/* line 52, ../sass/_wrappers.sass */
.margin-top--1x {
  margin-top: 5vh;
}

/* line 55, ../sass/_wrappers.sass */
.margin-top--2x {
  margin-top: 10vh;
}

/* line 58, ../sass/_wrappers.sass */
.margin-top--3x {
  margin-top: 15vh;
}

/* line 61, ../sass/_wrappers.sass */
.margin-bottom--1x {
  margin-bottom: 5vh;
}

/* line 64, ../sass/_wrappers.sass */
.margin-bottom--2x {
  margin-bottom: 10vh;
}

/* line 67, ../sass/_wrappers.sass */
.margin-bottom--3x {
  margin-bottom: 15vh;
}

/* Individuals */
/* line 1, ../sass/_navigation.sass */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: white;
}

/* line 20, ../sass/_navigation.sass */
.menu.active {
  bottom: 0;
}
/* line 23, ../sass/_navigation.sass */
.menu .anchors__holder {
  grid-column-start: 9;
  grid-column-end: span line-13;
}
/* line 27, ../sass/_navigation.sass */
.menu .anchors__holder .menu__item {
  align-self: stretch;
  background: blue;
}

/* line 32, ../sass/_navigation.sass */
header.nav-up .header-typo--top {
  height: 8vh;
}
/* line 36, ../sass/_navigation.sass */
header.nav-up .header-typo--top, header.nav-up .header-typo--left {
  font-size: 6vh;
}
/* line 39, ../sass/_navigation.sass */
header.nav-up .header-typo__item {
  width: 8vh;
  height: 8vh;
  line-height: 8vh;
}

/* line 44, ../sass/_navigation.sass */
.header-typo--left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10vh;
  z-index: 9999;
  font-size: 8vh;
  text-align: center;
}
/* line 54, ../sass/_navigation.sass */
.header-typo--left .header-typo--t {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 59, ../sass/_navigation.sass */
.header-typo--left .header-typo--g {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 64, ../sass/_navigation.sass */
.header-typo--top {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 10vh;
  z-index: 9998;
  font-size: 8vh;
  mix-blend-mode: overlay;
}
/* line 74, ../sass/_navigation.sass */
.header-typo--top .header-typo--v {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* line 80, ../sass/_navigation.sass */
.header-typo--top .header-typo--k {
  position: absolute;
  top: 0;
  right: 20px;
}

/* line 85, ../sass/_navigation.sass */
.header-typo__item {
  width: 10vh;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  transition: all 0.3s ease;
}

/* line 95, ../sass/_navigation.sass */
.menu-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 30px;
  transform: translate(-50%, -50%) rotate(-90deg);
  cursor: pointer;
}
/* line 104, ../sass/_navigation.sass */
.menu-toggle .toggle-line {
  width: 30px;
  height: 3px;
  position: absolute;
  background: black;
  background-blend-mode: overlay;
  transition: all 0.3s ease-out;
}
/* line 112, ../sass/_navigation.sass */
.menu-toggle .toggle-line.line-first {
  top: 0;
  left: 0;
  transform-origin: bottom right;
}
/* line 117, ../sass/_navigation.sass */
.menu-toggle .toggle-line.line-second {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* line 122, ../sass/_navigation.sass */
.menu-toggle .toggle-line.line-third {
  bottom: 0;
  left: 0;
  transform-origin: top right;
}
/* line 127, ../sass/_navigation.sass */
.menu-toggle.active > .line-first {
  transform: rotate(-35deg);
}
/* line 130, ../sass/_navigation.sass */
.menu-toggle.active > .line-second {
  transform: translateX(-50%);
  opacity: 0;
}
/* line 134, ../sass/_navigation.sass */
.menu-toggle.active > .line-third {
  transform: rotate(35deg);
}

/* line 137, ../sass/_navigation.sass */
.languages-item {
  padding: 0;
  list-style-type: none;
  text-align: center;
  background: white;
  border: 1px solid #1e1e1e;
  transition: all 0.3s ease;
}
/* line 145, ../sass/_navigation.sass */
.languages-item.is-active, .languages-item:hover {
  background: #1e1e1e;
  color: white;
}

/* HEADER IMAGES */
/* line 2, ../sass/_modules.sass */
.header-image__wrapper {
  background: blue;
}
/* line 8, ../sass/_modules.sass */
.header-image__wrapper .header-image__holder > figure {
  display: inline-block;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
/* line 16, ../sass/_modules.sass */
.header-image__wrapper .header-image__holder > figure img {
  object-fit: cover;
}

/* ITEM OVERVIEW */
/* line 23, ../sass/_modules.sass */
.item-overview__wrapper .item-overview__title {
  padding-bottom: 40px;
}
/* line 26, ../sass/_modules.sass */
.item-overview__wrapper .item-overview__item {
  padding: 0 0 28px 40px;
}
/* line 29, ../sass/_modules.sass */
.item-overview__wrapper .item-overview__item .item-overview__item__description {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2000;
  transition: all 0.3s ease-out;
}
/* line 40, ../sass/_modules.sass */
.item-overview__wrapper .item-overview__item .item-overview__item__description a {
  display: none;
  transition: all 0.3s ease-out;
}

/* GALLERY */
/* line 50, ../sass/_modules.sass */
.canvas__holder canvas {
  max-width: 100%;
}

/* line 53, ../sass/_modules.sass */
.isogrid__wrapper {
  overflow: hidden;
}

/* line 56, ../sass/_modules.sass */
.isogrid__content {
  transition: all 0.5s ease-out;
  transform-style: preserve-3d;
}
/* line 60, ../sass/_modules.sass */
.isogrid__content.twisted {
  transform: translateX(0) translateY(0) rotateX(50deg) rotateZ(45deg);
}
/* line 65, ../sass/_modules.sass */
.isogrid__content.twisted .isogrid__item:hover {
  transform: translateZ(30px);
}

/* line 68, ../sass/_modules.sass */
.isogrid__item {
  width: 25%;
  padding: 10px;
  float: left;
  transition: all 0.5s ease-out;
}
/* line 74, ../sass/_modules.sass */
.isogrid__item figure {
  background: white;
  box-shadow: 5px 5px 10px 0 #f0f0f0;
}
/* line 78, ../sass/_modules.sass */
.isogrid__item figure:before, .isogrid__item figure:after {
  position: absolute;
  transform-origin: bottom left;
  content: "";
}
/* line 83, ../sass/_modules.sass */
.isogrid__item figure:before {
  top: 0;
  right: -4px;
  bottom: 0;
  width: 4px;
  background: #1e1e1e;
  transform: skewY(45deg);
}
/* line 91, ../sass/_modules.sass */
.isogrid__item figure:after {
  right: -4px;
  bottom: -4px;
  left: 4px;
  height: 4px;
  background: #787878;
  transform: skewX(45deg);
}
/* line 101, ../sass/_modules.sass */
.isogrid__item:hover figcaption {
  opacity: 1;
  transform: translateY(0);
}
/* line 105, ../sass/_modules.sass */
.isogrid__item figcaption {
  transition: all 0.3s ease-out;
  position: relative;
  opacity: 0;
  transform: translateY(50%);
}

/* DEVICES */
/* line 112, ../sass/_modules.sass */
.devices__holder {
  display: block;
  height: 100%;
}

/* line 116, ../sass/_modules.sass */
.device__holder {
  position: absolute;
}

/* line 119, ../sass/_modules.sass */
.device__pin {
  padding: 10px;
  background: #1e1e1e;
  color: white;
  max-width: 200px;
  z-index: 2000;
}
/* line 126, ../sass/_modules.sass */
.device__pin::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1e1e1e;
}

/* line 135, ../sass/_modules.sass */
.laptop {
  width: 100%;
  max-width: 1280px;
  min-width: 50px;
  margin: 0 auto;
}

/* line 142, ../sass/_modules.sass */
.laptop__display {
  position: relative;
  width: 86%;
  margin: 0 auto;
  border: 2px solid #1e1e1e;
  background: #fafafa;
  padding: 70px 40px 40px 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* line 152, ../sass/_modules.sass */
.laptop__display::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 50%;
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-radius: 50px;
  background: #333;
}

/* line 165, ../sass/_modules.sass */
.laptop__figure {
  width: 100%;
  height: 0;
  margin: auto;
  padding-bottom: 62.5%;
  overflow: auto;
  position: relative;
}

/* line 173, ../sass/_modules.sass */
.laptop__figure img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
}

/* line 180, ../sass/_modules.sass */
.laptop__body {
  position: relative;
  width: 100%;
  height: 35px;
  border: 2px solid #1e1e1e;
  position: relative;
  top: -2px;
  border-bottom-left-radius: 40px 20px;
  border-bottom-right-radius: 40px 20px;
}

/* line 190, ../sass/_modules.sass */
.laptop__body::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 50%;
  top: -2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: transparent;
  border: 2px solid #333;
  border-bottom-left-radius: 40px 20px;
  border-bottom-right-radius: 40px 20px;
}

/* line 204, ../sass/_modules.sass */
.tablet {
  width: 100%;
  min-width: 50px;
  position: relative;
  border: 2px solid #333;
  border-radius: 30px;
  padding: 30px 70px;
}

/* line 212, ../sass/_modules.sass */
.tablet::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #333;
}

/* line 224, ../sass/_modules.sass */
.tablet::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #333;
}

/* line 238, ../sass/_modules.sass */
.tablet__figure {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: auto;
}
/* line 244, ../sass/_modules.sass */
.tablet__figure .device__image__holder {
  margin-bottom: -75%;
}

/* line 247, ../sass/_modules.sass */
.tablet__figure img {
  width: 100%;
}

/* line 250, ../sass/_modules.sass */
.tablet-portrait {
  width: 100%;
  min-width: 50px;
  position: relative;
  border: 2px solid #333;
  border-radius: 30px;
  padding: 70px 30px;
}

/* line 258, ../sass/_modules.sass */
.tablet-portrait::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 30px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #333;
}

/* line 270, ../sass/_modules.sass */
.tablet-portrait::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 25px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #333;
}

/* line 284, ../sass/_modules.sass */
.tablet-portrait__figure {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: auto;
}
/* line 290, ../sass/_modules.sass */
.tablet-portrait__figure .device__image__holder {
  margin-bottom: -100%;
}

/* line 293, ../sass/_modules.sass */
.tablet-portrait__figure img {
  width: 100%;
}

/* line 296, ../sass/_modules.sass */
.mobile {
  width: 100%;
  min-width: 50px;
  position: relative;
  border: 2px solid #333;
  border-radius: 30px;
  padding: 60px 30px 100px;
}

/* line 304, ../sass/_modules.sass */
.mobile::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 20%;
  height: 1.5%;
  border-radius: 100px;
  background: #333;
}

/* line 316, ../sass/_modules.sass */
.mobile::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 2px solid #333;
}

/* line 330, ../sass/_modules.sass */
.mobile__figure {
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  overflow: auto;
}

/* line 336, ../sass/_modules.sass */
.mobile__figure img {
  width: 100%;
  margin-bottom: -150%;
}

/* STATEMENTS */
/* line 346, ../sass/_modules.sass */
.statement__wrapper {
  background: #1e1e1e;
  color: white;
}

/* line 350, ../sass/_modules.sass */
.statement__slide__content {
  position: relative;
}

/* line 353, ../sass/_modules.sass */
.statement__text {
  float: left;
  width: calc((100% / 12) * 5);
  vertical-align: middle;
  z-index: 2000;
  position: relative;
}
/* line 360, ../sass/_modules.sass */
.statement__text blockquote p {
  font-size: 5vh;
  line-height: 0.9;
  text-align: left;
}

/* line 365, ../sass/_modules.sass */
.statement__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: calc((100% / 12) * 8);
}
/* line 373, ../sass/_modules.sass */
.statement__image figure {
  height: 100%;
}

/* SKILLS */
/* line 379, ../sass/_modules.sass */
.skill .pizza-ul {
  display: none;
}
/* line 382, ../sass/_modules.sass */
.skill svg text {
  display: none;
}
/* line 385, ../sass/_modules.sass */
.skill ul[data-pie-id] li:nth-child(1) {
  color: white;
}
/* line 388, ../sass/_modules.sass */
.skill ul[data-pie-id] li:nth-child(2) {
  color: #f0f0f0;
}

/* line 392, ../sass/_modules.sass */
.skill.white ul[data-pie-id] li:nth-child(2) {
  color: #f0f0f0;
}

/* HEADERS */
/* line 396, ../sass/_modules.sass */
.aspect-header__holder {
  position: relative;
  display: block;
  height: 100%;
}

/* line 401, ../sass/_modules.sass */
.project-header__text {
  width: calc((100vw / 12)*6);
  z-index: 2000;
  position: absolute;
  top: 40vh;
  left: 10vw;
  transform: translateY(-50%);
}
/* line 409, ../sass/_modules.sass */
.project-header__text p {
  margin: 0;
}

/* line 412, ../sass/_modules.sass */
.aspect-header__text {
  width: calc((100vw / 12)*6);
  z-index: 2000;
  position: absolute;
  top: 40vh;
  right: 0;
  transform: translateY(-50%);
}
/* line 420, ../sass/_modules.sass */
.aspect-header__text p {
  margin: 0;
}

/* line 423, ../sass/_modules.sass */
.aspect-header__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: calc((100% / 12) * 9);
}
/* line 432, ../sass/_modules.sass */
.aspect-header__image figure {
  height: 100%;
}

/* line 435, ../sass/_modules.sass */
.project-header__holder {
  position: relative;
  display: block;
  height: 100%;
}

/* line 440, ../sass/_modules.sass */
.project-header__tile {
  position: absolute;
  transform-origin: center center;
}
/* line 445, ../sass/_modules.sass */
.project-header__tile.project-header__tile--half {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);
  clip-path: url(#triangle--half);
  animation: bgpos 20s infinite;
}
/* line 452, ../sass/_modules.sass */
.project-header__tile.project-header__tile--half:nth-child(2) {
  transform: rotate(180deg);
}
/* line 457, ../sass/_modules.sass */
.project-header__tile.project-header__tile--third:first-child {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);
  clip-path: url(#triangle--half);
  transform: rotate(180deg);
  animation: bgpos 20s infinite;
}
/* line 465, ../sass/_modules.sass */
.project-header__tile.project-header__tile--third:nth-child(2) {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%, 100% 0);
  clip-path: url(#triangle--quarter-vertical);
  animation: bgpos 20s infinite;
}
/* line 474, ../sass/_modules.sass */
.project-header__tile.project-header__tile--third:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%, 0 100%);
  clip-path: url(#triangle--quarter-horizontal);
  animation: bgpostop 30s infinite;
}
/* line 485, ../sass/_modules.sass */
.project-header__tile.project-header__tile--quarter:nth-child(1), .project-header__tile.project-header__tile--quarter:nth-child(3) {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%, 100% 0);
  clip-path: url(#triangle--quarter-vertical);
  animation: bgpos 20s infinite;
}
/* line 494, ../sass/_modules.sass */
.project-header__tile.project-header__tile--quarter:nth-child(2), .project-header__tile.project-header__tile--quarter:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%, 0 100%);
  clip-path: url(#triangle--quarter-horizontal);
  animation: bgpostop 30s infinite;
}
/* line 503, ../sass/_modules.sass */
.project-header__tile.project-header__tile--quarter:nth-child(3), .project-header__tile.project-header__tile--quarter:nth-child(4) {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

/* line 508, ../sass/_modules.sass */
.project-header__images {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.9;
}

/* RELPAGES */
/* line 518, ../sass/_modules.sass */
.relpages-slide {
  width: 40vw !important;
  position: relative !important;
  padding: 0;
}
/* line 523, ../sass/_modules.sass */
.relpages-slide .relpage__content {
  position: relative;
}
/* line 526, ../sass/_modules.sass */
.relpages-slide .relpage__content .relpage__text {
  width: calc((100% / 12) * 7);
  position: relative;
  float: left;
  z-index: 2000;
}
/* line 532, ../sass/_modules.sass */
.relpages-slide .relpage__content .relpage__image {
  width: calc((100% / 12) * 6);
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* META */
/* line 543, ../sass/_modules.sass */
.involvements-items__content {
  display: flex;
}

/* line 546, ../sass/_modules.sass */
.involvement-item {
  position: relative;
  width: 20%;
  margin-top: 30px;
  flex-grow: 1;
}
/* line 552, ../sass/_modules.sass */
.involvement-item > .dot {
  width: 1px;
  height: 7px;
  border-radius: 5px;
  background: #787878;
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
}
/* line 563, ../sass/_modules.sass */
.involvement-item > .line {
  width: calc(100% - 8px);
  height: 1px;
  background: #787878;
  position: absolute;
  top: -10px;
  left: 4px;
  transform: translateY(-50%);
}
/* line 572, ../sass/_modules.sass */
.involvement-item h4 {
  font: normal 1.2rem/1.6 "IBM Plex Mono", Helvetica, sans-serif;
  color: #787878;
}
/* line 578, ../sass/_modules.sass */
.involvement-item--active > .dot, .involvement-item--active > .line {
  background: #1e1e1e;
}
/* line 581, ../sass/_modules.sass */
.involvement-item--active > .line {
  height: 2px;
}
/* line 584, ../sass/_modules.sass */
.involvement-item--active h4 {
  color: #1e1e1e;
}

/* line 587, ../sass/_modules.sass */
.inverted > .meta__content > section > div > .involvement-item > .dot,
.inverted > .meta__content > section > div > .involvement-item > .line {
  background: white;
  opacity: 0.5;
}

/* line 592, ../sass/_modules.sass */
.inverted > .meta__content > section > div > .involvement-item--active > .dot,
.inverted > .meta__content > section > div > .involvement-item--active > .line {
  background: white;
  opacity: 1;
}

/* line 597, ../sass/_modules.sass */
.inverted {
  color: white;
}
/* line 600, ../sass/_modules.sass */
.inverted .meta__content > section > div > .involvement-item > h4 {
  color: white;
  opacity: 0.5;
}
/* line 604, ../sass/_modules.sass */
.inverted .meta__content > section > div > .involvement-item--active > h4 {
  color: white;
  opacity: 1;
}

/* ANIMATIONEN */
